@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary-color: #007af3;
  --bg-color: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
  font-family: 'Poppins';
}

a {
  text-decoration: none;
  color: #444444;
}

ul {
  list-style-type: none;
}

section {
  padding: 5rem 2rem;
}

/* buttons */
.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 80px;
  font-weight: bold;
  display: inline-block;
}

.navbar {
  background: white;
  padding: 1rem;
}

.navbar .logo {
  font-weight: 700;
  color: black;
  font-size: 1.2rem;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar .nav {
  display: none;
}

.navbar .container {
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

/* hero section */

.hero {
  text-align: center;
}

.hero .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: 0.3rem;
}

.hero .heading {
  font-size: 2.5rem;
  line-height: 1.3;
  margin: 1.2rem auto;
}

.hero .link-primary {
  display: block;
  margin: 1rem;
  text-decoration: underline;
}

.hero .link-primary img {
  margin-right: 0.5rem;
}

.hero .hero-img {
  width: 70%;
  margin-top: 3rem;
}
